main {
  height: fit-content;
}

h1 {
  margin: 15px;
  color: var(--main-text-color)
}

main ol {
  width: 80%;
  margin: auto;
  padding-left: 30px;
  list-style: upper-roman;
  font-size: large;
  color: var(--main-text-color);
}

main li {
  margin: 10px;
}