main {
  background-image: url("../images/IMG_5473.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: aliceblue;
  line-height: 50px;
}

h1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}